* {
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: rgb(44, 45, 53);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.main-box {
  background-color: rgba(92, 84, 201, 0.65);
  border-radius: 20px;
  text-align: center;
  padding: 2%;
  max-width: 100%;
  min-height: 40vh;
}

.search-container {
  flex: 1;
  flex-direction: column;
  padding: 15px;
}

.welcome-msg {
  width: 200px;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  flex: 1;
}

.search-bar {
  width: 70%;
  height: 35px;
  background-color: rgb(193, 183, 183);
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
  border: none;
  flex: 1;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seven-day-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  height: auto;
}

.current-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding: 10px;
  height: auto;
  flex: 1 1 auto;
}

.current-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.current-temp-container {
  display: flex;
  flex: 1;
}

.day-0-icon {
  width: auto;
  height: 10vh;
}
.current-temperature {
  font-size: 3vw;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  flex: 1;
}
.temp {
  font-size: 1vw;
  font-weight: bold;
  padding: 10px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  flex: 1;
}

.temp0 {
  font-size: 1vw;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  flex: 1 1 auto;
}